<section class="bg-gray200 pt-5 pb-5">
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-md-7">
    			<article class="card">
				<%= image_tag @opu.image,class:"card-img-top mb-2",alt:"Card image"%>
    			<div class="card-body">
    				<h1 class="card-title display-4"> <%= @opu.opusname%> </h1>
    				<ul>
    					<li>作品简介：<%= @opu.description %></li>
    					<li>作者：<%= link_to @opu.user.username,{:action => "show",:controller => "users",:id => @user.id,:bloger => @opu.user.id}%></li>
    				</ul>
					<% if @user == @opu.user%>
						<small class="d-block">
							<%= link_to edit_opu_path(@opu),class:"btn btn-sm btn-gray200" do%>
								<i class="fa fa-external-link"></i> 编辑
							<% end %>
						</small>
					<% end %>
    			</div>
    			</article>
    		</div>
    	</div>
    </div>
</section>