<div class="container">
    <div class="row justify-content-center">
    	<div class="col-md-7">
    	    <article class="card">
                <h1>上传作品</h1>
                <%= form_for @opu, url: opus_path,method: :post do |f|%>
                    <%= f.text_field :opusname, class:"form-control", placeholder:"作品名称",style:"margin-top:20px"%>
                    <%= f.text_area :description,class:"form-control",placeholder:"描述",style:"margin-top:20px"%>
                    <%= f.file_field :image,style:"margin-top:20px"%>
                    <%= f.hidden_field :user_id, value:@user.id.to_s %>
                    <%= f.submit "上传作品",class:"btn btn-block btn-primary",style:"margin-top:20px;margin-bottom:20px"%>
                <% end -%>
            </article>
    	</div>
    </div>
</div>